<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <meta charset = "ISO-8859-1" />
  </head>
<body>

<footer>
  <ul class="nav justify-content-center bg-body-tertiary" th:fragment="footer">
    <li class="nav-item">
      <a class="nav-link" href="#">Transfert</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Log off</a>
    </li>
  </ul>
</footer>

</body>
</html>