<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pay My Buddy</title>
  <meta charset = "ISO-8859-1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<!-- Navigation -->
<div th:replace="~{common/header.html :: navigation}"></div>


<!-- FORM : Add a connection -->
<div class="container">
  <form method="POST" class="form-inline" th:action="@{/connection}" >
    <label for="email" class="my-2 mx-2">Add a new contact:</label>
    <input name="email" id="email" type="text" class="form-control my-2 mx-2" placeholder="Email to add as connection" autofocus="true">
    <span class="has-error" th:text="${error}"></span>
    <button class="btn btn-lg btn-primary my-2 mx-2" type="submit">Submit</button>
  </form>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-10 mt-5 mb-5">
      <table id="connections" class="table table-bordered table-responsive-sm">
        <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="page : ${paged.page}">
          <td th:text="${page.firstName}">id</td>
          <td th:text="${page.lastName}">title</td>
          <td th:text="${page.email}">body</td>
          <td>
            <form method="POST" th:action="@{/connectionDelete}" >
              <button class="btn btn-danger" type="submit" name="id" th:value="${page.id}">Delete</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>









<!-- FOOTER -->
<div th:replace="~{common/footer.html :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>