<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true" th:fragment="register">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="exampleModalLabel">Pay my buddy</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" th:object="${userForm}" th:action="@{/registration}" >
                    <div class="form-group">
                        <input type="text" field="*{firstName}" id="firstName" name="firstName" required placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" field="*{lastName}" id="lastName" name="lastName" required placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input type="text" field="*{email}" id="email" name="email" required placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" field="*{bankAccount}" id="bank" name="bank" required placeholder="Bank Account">
                    </div>
                    <div class="form-group">
                        <select field="*{currency}" class="form-control">
                            <!--/* Accessing directly bean "currenciesAllowed" in Spring application context: */-->
                            <option
                                    th:each="entry : ${@currencyPermited.getCurrencyList()}"
                                    th:value="${entry}" th:text="${entry.getDisplayName()}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="password" field="*{password}" id="password" name="password" required placeholder="Password">
                    </div>

                    <div class="form-group">
                    <input type="password" field="*{confirmPassword}" id="confirmPassword" name="confirmPassword" required placeholder="Confirm Password">
                  <!--  <span class="has-error" th:if="${#fields.hasErrors('confirmPassword')}"
                        th:errors="*{confirmPassword}"></span> -->
                    </div>


                    <div class="modal-footer">
                        <input type="submit" value="S'enregistrer">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>